h1 a.btn {
    font-weight: normal;
}

a [class^="factory-icon-"] {
    margin-right: 5px;
}

.blogfactory-edit-box {
    margin-bottom: 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #dddddd;
    border-radius: 5px;
}

.blogfactory-edit-box-header {
    background: #eeeeee linear-gradient(to bottom, #eeeeee, #dddddd);
    color: #000000;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #cccccc;
    text-shadow: 0 1px 0 #FFFFFF;
    padding: 7px 15px;
}

.blogfactory-edit-box-content {
    background-color: #fafafa;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #444444;
}

.padded {
    padding: 15px;
}

img.blogfactory-avatar {
    background-color: #DDDDDD;
    border-radius: 5px 5px 5px 5px;
}
