.blogfactory-field-alias {
    display: inline-block;
}

.blogfactory-field-alias .edit {
    vertical-align: middle;
    overflow: hidden;
    display: none;
}

.blogfactory-field-alias .edit input[type="text"] {
    margin: 0;
}
